{% extends "base.html" %}

{% block title %}New Nutrient{% endblock %}

{% block content %}
{% raw %}
<div id="newNutrient" class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="">Name</label>
        <input class="form-control" type="text" v-model="nname">

        <button class="btn btn-primary" @click="create">Create</button>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block scripts %}
{% raw %}
<script>
  new Vue({
    el: "#newNutrient",
    data() {
      return {
        nname: "",
      }
    },
    methods: {
      async create() {
        const request = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            nname: this.nname,
            location: this.location
          })
        };

        const response = await fetch("/api/nutrients", request);

        if (response.status == 201) {
          window.history.back();
        } else {
          alert(response.status);
        }
      }
    }
  })
</script>
{% endraw %}
{% endblock %}
