{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% raw %}
  <div id="login" class="container">
    <div class="row mt-4">
      <div class="column">
        <h1 class="text-center">Login</h1>
      </div>
    </div>

    <div id="users" class="row">
      <div class="column d-grid gap-2">
          <a
            class="btn btn-primary"
            v-for="user in users"
            :key="user.uid"
            :href="`/dashboard/${user.uid}`"
          >
            {{ user.name }}
          </a>
      </div>
    </div>

    <!-- create user -->

    <div class="row mt-4">
      <div class="col">
        <h2 class="text-center">Create User</h2>
      </div>
    </div>


    <div id="createUser" class="row">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="User Name" v-model="newUserName">
        <input class="form-control mt-2" type="text" placeholder="User ID" v-model="newUserID">
      </div>
      <div class="column d-grid gap-2">
        <button class="btn btn-primary mt-2" @click="create">Create User</button>
      </div>
    </div>
  </div>
{% endraw %}
{% endblock %}

{% block scripts %}
  {% raw %}
    <script>
      new Vue({
        el: "#login",
        data() {
          return {
            users: [],
            newUserName: "",
            newUserID: ""
          }
        },
        methods: {
          async load() {
            this.users = await fetch("/api/users")
              .then(response => response.json());
          },
          async create() {
            await fetch(
              `/api/user?name=${this.newUserName}&uid=${this.newUserID}`,
              { method: "POST" });
            await this.load();
          }
        },
        async mounted() {
          await this.load();
        }
      });
    </script>
  {% endraw %}
{% endblock %}
