{% extends "base.html" %}

{% block title %}Move Item{% endblock %}

{% block content %}
{% raw %}
<div id="moveItem" class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <select class="form-select" v-model="selectedCompartment">
          <option
            v-for="compartment in compartments"
            :key="compartment.clevel"
            :value="compartment.clevel"
          >
            {{ compartment.clevel }} (Temperature: {{ compartment.temperature }})
          </option>
        </select>

        <button class="btn btn-primary" @click="moveItem">Move</button>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block scripts %}
  <script>
    const compartment = Number.parseInt("{{ compartment }}");
    const itemID = Number.parseInt("{{ item }}");
  </script>
  {% raw %}
  <script>
    new Vue({
      el: "#moveItem",
      data() {
        return {
          compartment: compartment,
          itemID: itemID,
          compartments: [],
          selectedCompartment: -1,
        }
      },
      methods: {
        async moveItem() {
          const request = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              iid: this.itemID,
              originalCompartment: this.compartment,
              newCompartment: this.selectedCompartment,
            })
          };

          const response = await fetch("/api/move", request);

          if (response.status === 202) {
            window.history.back();
          } else {
            alert(response.status);
          }
        }
      },
      mounted() {
        fetch("/api/compartments")
          .then(response => response.json())
          .then(compartments => {
            this.compartments = compartments;

            if (this.compartments.length > 0) {
              if (this.selectedCompartment === -1) {
                for (let i = 0; i < this.compartments.length; i++) {
                  if (this.compartments[i].clevel !== this.compartment) {
                    this.selectedCompartment = this.compartments[i].clevel;
                    break;
                  }
                }
              }
            }
          });
      }
    })
  </script>
  {% endraw %}
{% endblock %}
