{% extends "base.html" %}

{% block title %}calculate the bill{% endblock %}

{% block content %}
  {% raw %}

  <div id="demo" >
    <ul>
      <li v-for="mainCat in mainCategories" :key="mainCat.id">
        {{ mainCat.name }} <button @click="remove(mainCat.id)">Delete</button>
      </li>
    </ul>

    <br>

  </div>

  {% endraw %}
{% endblock %}

{% block scripts %}
  <script>
    const uid = Number.parseInt("{{ uid }}");
  </script>

  {% raw %}
    <script>
      var demo = new Vue({
        el: '#demo',
        data() {
          return{
            uid: uid,
            checkedCategories: [],
            mainCategories: []
          };
        },
        async mounted() {
          console.log("mounted()");
          this.mainCategories = await fetch(`/remove/${uid}`,{method:'GET'})
            .then(response => response.json());

           console.log("--------", this.mainCategories)
        },
        methods: {
          check(e) {
            if (e.target.checked) {
              console.log(e.target.value)
            }
          },
          async remove(id){
            console.log("check here", id);
           // const formData = new FormData();
           // formData.append('id', id)
            this.mainCategories = await fetch(`/remove/${uid}`,{
                                        method:'DELETE',
                                        headers: {
                                            'Accept': 'application/json',
                                            'Content-Type': 'application/json'
                                          },
                                        body: JSON.stringify({foodID:id}) } )
            .then(response => response.json());


          }

        }
      })
     // Vue.createApp(Consumption).mount("#vueRoot");
    </script>
  {% endraw %}
{% endblock %}
